@import "../../../variables"
.btn-all
  border-radius: 19px
  color: black
  background-color: #f0f4f6
  border-color: #f0f4f6

.btn-all:focus, .btn-all.focus
  box-shadow: none

.fa-button-circle
  color: #a6bbc4

.fa-search-custom
  color: #a3b4bb
  font-weight: 100
  font-size: 1em
  vertical-align: -webkit-baseline-middle

.btn-add
  border-radius: 19px
  background-color: $base-color
  border-color: $base-color
  font-size: .8em

.btn-add:not(:disabled):not(.disabled):active,
.btn-add:not(:disabled):not(.disabled).active
  background-color: $base-active-color
  border-color: $base-active-color

.btn-add:not(:disabled):not(.disabled):active:focus,
.btn-add:not(:disabled):not(.disabled).active:focus
  box-shadow: none !important

.btn-add:focus, .btn-add.focus
  box-shadow: none
