<div class="row mt-5">
  <h5 class="ml-4">Employees(24)</h5>
</div>

<div class="row mt-2 pl-0">
  <div class="col-md-7 col-sm-12 col-xs-12">
    <div class="d-flex justify-content-start">
      <div class="col-md-4 col-sm-4 col-xs-12 filter-text p-2">
        Policy:
        <div class="d-inline-flex">
          <app-dropdown [options]="firstDropDown"></app-dropdown>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 filter-text p-2">
        Status:
        <div class="d-inline-flex">
          <app-dropdown [options]="secondDropDown"></app-dropdown>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 p-2 filter-text">
        Progress:
        <div class="d-inline-flex">
          <app-dropdown [options]="thirdDropDown"></app-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-12 col-xs-12">
    <div class="d-flex justify-content-md-end justify-content-sm-start justify-content-xs-start">
      <div class="p-2">
        <i class="fa fa-search fa-search-custom"></i>
      </div>

      <div class="p-2">
        <button type="button" class="px-4 btn btn-primary btn-add py-2">
          <i class="fa fa-plus"></i>
          Add Employee
        </button>
      </div>
    </div>
  </div>
</div>