<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<div class="mx-lg-5 mx-1 mx-sm-1 mx-md-4 my-sm-1 my-lg-3 my-md-3">
    <div class="container mt-4 border-bottom">

        <div class="row mt-5">
            <h5 class="ml-4">Employees(24)</h5>
        </div>

        <div class="row mt-2 pl-0">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="d-flex justify-content-start">
                    <div class="col-md-4 col-sm-4 col-xs-12 p-2 bd-highlight text">
                        <div>
                            Policy:
                            <button type="button" class="btn btn-secondary btn-sm btn-all px-3 py-2">
                                <i class="fa fa-circle fa-button-circle"></i> All
                            </button>
                            <i class="fa fa-angle-down ml-2"></i>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 p-2 bd-highlight text">
                        <div>
                            Status:
                            <button type="button" class="btn btn-secondary btn-sm btn-all px-3 py-2">
                                <i class="fa fa-circle fa-button-circle"></i> All
                            </button>
                            <i class="fa fa-angle-down ml-2"></i>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 p-2 bd-highlight text">
                        <div>
                            Progress:
                            <button type="button" class="btn btn-secondary btn-sm btn-all px-3 py-2">
                                <i class="fa fa-circle fa-button-circle"></i> All
                            </button>
                            <i class="fa fa-angle-down ml-2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="d-flex justify-content-md-end justify-content-sm-start justify-content-xs-start">
                    <div class="p-2 bd-highlight">
                        <i class="fa fa-search fa-search-custom"></i>
                    </div>

                    <div class="p-2 bd-highlight">
                        <button type="button" class="px-4 btn btn-primary btn-add py-2">
                            <i class="fa fa-plus"></i>
                            Add Employee
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="table-responsive p-1">
                    <table class="table">
                        <thead class="shadow table-borderless">
                        <tr>
                            <th class="th-sm"></th>
                            <th class="th-sm text-table-active">Name
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm text-table">Policy
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm text-table">Policy Status
                                <i class="fa fa-angle-down"></i></th>
                            <th class="th-sm text-table">Status
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm text-table">Progress
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm"></th>
                            <th class="th-sm"></th>
                            <th class="th-sm"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of users; let i = index" (click)="setCurrentUser(i)"
                            [ngClass]="{'active-row': i === currentUser}">
                            <td><label><input class="radio-table {{i}}" type="radio" name="optradio"></label></td>
                            <td class="pl-0">
                                <img class="img-responsive profile-pic" src="{{user.avatar}}">
                                {{user.first_name}} {{user.last_name}}
                            </td>
                            <td>
                                {{user.first_name}} {{user.last_name}}
                            </td>
                            <td scope="row">{{user.id}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td class="width-td">
                                <button href="#" class="btn btn-primary btn-operation px-3"><i
                                        class="fa fa-pencil fa-operation"></i></button>
                            </td>
                            <td class="width-td">
                                <button href="#" class="btn btn-primary btn-operation px-3"><i
                                        class="fa fa-trash fa-operation"></i></button>
                            </td>
                            <td class="width-td">
                                <button href="#" class="btn btn-primary btn-operation px-3"><i
                                        class="fa fa-ellipsis-h fa-operation"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item" [ngClass]="{disabled: currentPage===1}">
                            <a (click)="previous()" class="page-link page-text" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li [ngClass]="{active: currentPage===page+1}" class="page-item"
                            *ngFor="let page of totalPages"><a
                                (click)="goToPage(page+1)"
                                class="page-link page-text"
                                href="#">{{page+1}}</a></li>
                        <li class="page-item" [ngClass]="{disabled: currentPage===(totalPages).length}">
                            <a (click)="next()" class="page-link page-text" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>




