<app-navbar></app-navbar>

<div class="mx-lg-5 mx-1 mx-sm-1 mx-md-4 my-sm-1 my-lg-3 my-md-3">
    <div class="container mt-4">

        <app-filters></app-filters>
        <div class="row mt-4">
            <div class="col-12">
                <div class="table-responsive p-1">
                    <table class="table">
                        <thead class="shadow table-borderless">
                        <tr>
                            <th class="th-sm"></th>
                            <th class="th-sm text-table-active">Name
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm">Policy
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm">Policy Status
                                <i class="fa fa-angle-down"></i></th>
                            <th class="th-sm">Status
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm">Progress
                                <i class="fa fa-angle-down"></i>
                            </th>
                            <th class="th-sm"></th>
                            <th class="th-sm"></th>
                            <th class="th-sm"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div *ngIf="loadingTable" class="col-12 justify-content-between">
                            <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>

                        <tr *ngFor="let user of users; let i = index" (click)="setCurrentUser(i)"
                            [ngClass]="{'active-row': i === currentUser}">
                            <td><label><input class="radio-table {{i}}" type="radio" name="optradio"></label></td>
                            <td class="pl-0">
                                <img class="img-responsive profile-pic" src="{{user.avatar}}">
                                {{user.first_name}} {{user.last_name}}
                            </td>
                            <td>
                                {{user.first_name}} {{user.last_name}}
                            </td>
                            <td scope="row" [ngClass]="{isOdd : i%2 === 1, 'isEven' : i%2 === 0}">{{user.id}}</td>
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td class="width-td">
                                <button href="#" class="btn btn-primary btn-operation px-3"><i
                                        class="fa fa-pencil fa-operation"></i></button>
                            </td>
                            <td class="width-td">
                                <button href="#" class="btn btn-primary btn-operation px-3"><i
                                        class="fa fa-trash fa-operation"></i></button>
                            </td>
                            <td class="width-td">
                                <button href="#" class="btn btn-primary btn-operation px-3"><i
                                        class="fa fa-ellipsis-h fa-operation"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12">
                <app-pagination (getUsersEvent)="getUsers($event)" [totalPages]="totalPages"></app-pagination>
            </div>
        </div>

    </div>
</div>




