/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"
@import "~font-awesome/css/font-awesome.css"
@import "variables"

.profile-pic
  width: 30px
  border-radius: 100%
  margin-right: 2%

.text-table-active
  color: $base-color
  font-size: 1em !important
  font-weight: 800

.text-table
  color: gray
  font-size: .9em
  font-weight: 600
  text-transform: uppercase

.text
  color: gray
  font-size: .9em
  font-weight: 400

.btn-operation
  background-color: #e0fafb
  border-color: #e0fafb
  border-radius: 17px
  font-size: .8em

.btn-operation:not(:disabled):not(.disabled):active,
.btn-operation:not(:disabled):not(.disabled).active
  background-color: #e0fafb
  border-color: #e0fafb

.fa-operation
  color: $base-color

.radio-table
  height: 18px
  width: 18px

.width-td
  width: 2px

.active-row
  background-color: rgba(0, 0, 0, 0.1) !important